@import url(https://lsong.org/stylesheets/panel.css);
@import url(https://lsong.org/stylesheets/list.css);

a {
  text-decoration: none;
}

.zhihu-question {
  display: flex;
  justify-content: space-between;
}

.zhihu-question img {
  width: 128px;
  height: 80px;
}